medcat==1.16.0
paramiko
colorama
elasticsearch==8.17.0
eland==8.17.0
faker
fuzzywuzzy
pytest
nbformat
nbconvert
nbstripout
nbmake
pre-commit
seaborn
rapidfuzz
python-pptx
ipykernel
transformers==4.48.1
accelerate==1.3.0
peft==0.8.2
huggingface-hub==0.27.1
polars
